@font-face {
    font-family: LuckiestGuy;
    src: url(./font/LuckiestGuy-Regular.ttf);
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

canvas {
    background-color: black;
}