@font-face {
  font-family: LuckiestGuy;
  src: url(./font/LuckiestGuy-Regular.ttf);
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #325cad;
  background-image: url("./img/3. Background/Layers/5. Water/D1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  font-family: LuckiestGuy, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

h1 {
  color: white;
  font-size: 58px;
}

canvas {
  background-color: black;
  margin: 16px;
  height: 100%;
  width: 95%;
  border-radius: 10px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.25);
}

.button {
  cursor: pointer;
  transition: all 0.125s ease-in-out;
  padding: 16px;
  border: none;
  border-radius: 10px;
  box-shadow: 3px 1px 5px rgba(255, 255, 255, 0.432);
  font-family: LuckiestGuy, sans-serif;
  font-size: 20px;
  color: white;
  background-color: darkorchid;
}

.button:hover {
  scale: 1.1;
  filter: brightness(1.1);
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-space {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

section {
  width: 100%;
}

.curtain {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 50;
}

.width-message {
  color: white;
  width: 60%;
  font-size: 24px;
  text-align: center;
}

.canvas-container {
  position: relative;
  height: 90%;
  width: 90%;
}

.audioControl {
  position: absolute;
  right: 5%;
  top: 33px;
  /* filter: brightness(0.8); */
  cursor: pointer;

  border-radius: 100%;
  img {
    height: 35px;
    object-fit: contain;
  }
}

.audioControl:hover {
  filter: brightness(0.8);
  border: 2px solid white;
}

.start-btn {
  position: absolute;
  bottom: 18%;
  width: 30%;
  height: 13%;
  min-width: 60px;
}

.controls-btn {
  position: absolute;
  padding: 10px;
  bottom: 10%;
  right: 10%;
}

.privacy-btn {
  font-size: 16px;
  padding: 8px;
  position: absolute;
  background-color: grey;
  right: unset;
  bottom: 8%;
  left: 8%;
}

.menuBtn {
  position: absolute;
  padding: 10px;
  bottom: unset;
  top: 10%;
  right: 8%;
  border-radius: 100%;
  width: 48px;
  height: 48px;
  z-index: 100;
}

.controls-info {
  width: 70%;
  font-size: 26px;
  height: 70%;
  position: absolute;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
}

.controls-info div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls-info span {
  text-align: center;
}

.controls-info span:first-child {
  width: 55%;
}

.controls-info span:last-child {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 45%;
  justify-content: center;
}

.controls-info span:last-child span {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 16px;
  width: 45%;
}

.hud-container {
  width: 90%;
  height: 20%;
  /* background-color: antiquewhite; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  position: absolute;
  bottom: 12%;
  left: 5%;
  height: 5%;
}

.hud-left-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

.hud-button {
  padding: 8px;
  font-size: 18px;
  background-color: lightblue;
}

.arrow-button {
  width: 30%;
  padding: 8px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hud-button-container {
  width: 50%;
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  gap: 4px;
  .hud-button {
    width: 100%;
    padding: 8px 12px;
  }
}

.info-text {
  color: white;
  font-size: 18px;
}

.d-none {
  display: none;
}

@media (display-mode: fullscreen) {
  .button {
    font-size: 60px;
  }

  .menuBtn {
    width: 64px;
    height: 64px;
    font-size: 28px;
  }

  canvas {
    width: unset;
  }
}

@media (min-width: 600px) {
  .width-message {
    display: none;
  }
}

@media (max-width: 600px) {
  .canvas-container {
    display: none;
  }
}

@media (max-height: 750px) {
  h1 {
    display: none;
  }
}

@media (min-height: 590px) {
  .hud-container {
    display: none;
  }
}

@media (max-height: 590px) {
  .canvas-container {
    max-height: 100vh;
    width: auto;
    max-width: 100vw;
  }

  canvas {
    margin: 0;
    max-height: 100vh;
    max-width: 100vw;
  }

  .audioControl {
    top: 4.5%;
    right: 5%;
    img {
      height: 7vh;
    }
  }

  .info-text {
    display: none;
  }

  .menuBtn {
    right: 6%;
    top: 6%;
  }

  .controls-info {
    width: 65%;
    font-size: 20px;
  }

  .button {
    font-size: 18px;
  }
}

@media (max-height: 400px) {
  /* canvas {
    height: 360px;
  } */
  .controls-info {
    width: 70%;
    font-size: 18px;
  }

  .button {
    font-size: 16px;
    padding: 8px;
  }
}
